.App-header {
  width: 100%;
  // background-color: #bfc3cb;
  // background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.logo {
  width: 160px;
}
ul {
  line-height: 2rem;
  font-size: 1.4rem;
}
